<!DOCTYPE>
<html lang="en">
  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" />
      <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css"/>
      <link rel="stylesheet" href="/css/addfooter.css" type="text/css" />
      <link rel="shortcut icon" type="image/x-icon" href="/img/branico.ico"/>
      <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css" type="text/css" />
      <title>Registro</title>
  </head>
  <body>
    {{{ body }}}
    <!--Loads of JS -->
    <footer class="footer">
      <div class="container-fluid">
        <!-- First column -->
        <div class="row">
            <div class="col">
              <h5 class="title">Intranet</h5>
              <p>Bienvenido a la red interna de la empresa</p>
            </div>

          <!-- ./firt column-->
          <!-- Second column-->
          <div class="col">
            <h5>Links</h5>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Home</a></li>
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Misión</a></li>
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Visión</a></li>
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Valores</a></li>
              <li class="list-inline-item"><a href="#" class="badge badge-pill badge-light">Terminos y condiciones</a></li>
            </ul>
          </div>
          <!-- ./Second column-->
          <!--Third column-->
          <div class="col">
            <h5>Redes sociales</h5>
            <ul class="list-inline">
              <li class="list-inline-item"> <a href="#"> <img alt="Hola" class="img-fluid" src="/img/facebook.png"></a> </li>
              <li class="list-inline-item"> <a href="#"> <img class="img-fluid" src="/img/instagram.png"> </a> </li>
              <li class="list-inline-item"> <a href="#"> <img class="img-fluid" src="/img/youtube.png"> </a> </li>
              <li class="list-inline-item"> <a href="#"> <img class="img-fluid" src="/img/linkedin.png"> </a> </li>
              <li class="list-inline-item"> <a href="#"> <img class="img-fluid" src="/img/twitter.png"> </a> </li>
            </ul>
          </div>
          <!-- ./third column-->
        </div>
        <div class="row">
          <div class="col">
            <address>
              Carr. El verde san Martin de las Flores 480, Col. San Martin de las Flores, Tlaquepaque, Jalisco México C.P.45620
            </address>
          </div>
          <div class="col"> &copy;2018 Ferretería Indar S.A. De C.V </div>
        </div>
      </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/addingUser/add.js"></script>
  </body>
</html>
