<div class="backgroundImage"></div>
<!--Load html with bootstrap-->
<div class="container">
    <div class="row bajando">
      <div class="col-sm"></div>
      <div class="col-sm-6">
        <!-- inicio del login-->
        <div class="card alert alert-dark">
          <div class="card-body">
            <h5 class="card-title">Intranet</h5>
            <h6 class="card-subtitle mb-2 text-muted">Login</h6>
            <form>
              <div class="form-group">
                <label for="user"><span class="oi oi-person" id="basico"></span>&nbsp;Usuario</label>
                <input type="text" class="form-control" id="user" name="user" aria-describedby="emailHelp" placeholder="Correo" />
                <small id="emailHelp" class="form-text text-muted">Utilice el correo de la empresa</small>
              </div>
              <div class="form-group">
                <label for="pass"><span class="oi oi-lock-locked"></span>&nbsp;Contraseña</label>
                <input type="password" class="form-control" id="pass" placeholder="Contraseña" />
              </div>
              <div class="form-group centrando">
                <button type="submit" class="btn btn-primary">Entrar</button>
                <button type="button" class="btn btn-danger">Cancelar</button>
              </div>
              <div class="form-group centrado">
                <p>
                    Crear cuenta&nbsp;<a href="#" class="badge badge-success">¡Aquí!</a>
                    ¿Olvido su contraseña?&nbsp;<a href="#" class="badge badge-warning">¡Click aquí!</a>
                </p>
              </div>
            </form>
          </div>
        </div>
        <!-- Fin del login -->
      </div>
      <div class="col-sm"></div>
    </div>
</div>
<!-- end of html-->
