<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th class="col"><center>Foto</center></th>
          <th class="col"><center>Numero empleado</center></th>
          <th class="col"><center>nombre</center></th>
          <th class="col"><center>puesto</center></th>
          <th class="col"><center>Area</center></th>
          <th class="col"><center>Estatus</center></th>
        </tr>
      </thead>
      <tbody id="requisiciones"></tbody>
    </table>
  </div>
</div>
