<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:Helvetica, Arial,serif;'>

    <!-- =============================== Header ====================================== -->

  <tr>
    <td class='movableContentContainer' >
        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr><td height='25'  ></td></tr>

                        <tr>
                          <td height='290'  class='bgItem'>
                            <table align="center" width="600" border="0" cellspacing="0" cellpadding="0" class="MainContainer">
  <tr>
    <td height='50'></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width='326' valign="top" class="specbundle2">
                                  <div class="contentEditableContainer contentImageEditable">
                                    <div class="contentEditable" >
                                      <img class="banner" src="bigImg.png" alt='featured image' data-default="placeholder" data-max-width="300" width='326' height='269' >
                                    </div>
                                  </div>
                                </td>
    <td class="specbundle3">&nbsp;</td>
    <td width='250' valign='top' class="specbundle4">
                                  <table width="250" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                    <tr><td colspan='3' height='10'></td></tr>

                                    <tr>
                                      <td width='10'></td>
                                      <td width='230' valign='top'>
                                        <table width="230" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                          <tr>
                                            <td valign='top'>
                                              <div class="contentEditableContainer contentTextEditable">
                                                <div class="contentEditable" >
                                                  <h1 style='font-size:24px;font-weight:normal;color:#ffffff;line-height:19px;'>Intranet 1.0</h1>
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                          <tr><td height='18'></td></tr>
                                          <tr>
                                            <td valign='top'>
                                              <div class="contentEditableContainer contentTextEditable">
                                                <div class="contentEditable" >
                                                  <p style='font-size:13px;color:#cfeafa;line-height:19px;'>¿Que es lo que hace?</p>
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                          <tr><td height='33'></td></tr>
                                          <tr>
                                            <td>
                                              <div class="contentEditableContainer contentTextEditable">
                                                <div class="contentEditable" >
                                                  <a target='_blank' href="#" style='padding:15px;font-size:13px;text-decoration:none;background:#1C80C9;color:#E5F5FF;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;'>Enterate</a>
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                          <tr><td height='15'></td></tr>
                                        </table>
                                      </td>
                                      <td width='10'></td>
                                    </tr>
                                  </table>
                                </td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

                          </td>
                        </tr>

                        <tr><td height='25' ></td></tr>
                </table>
        </div>
        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'><tr><td>
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class="MainContainer">
                  <tr><td colspan='3' height='25'></td></tr>
                  <tr>
                    <td width='50'></td>
                    <td width='500'>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr>
                          <td align='center'>
                            <div class='contentEditableContainer contentTextEditable'>
                              <div class='contentEditable'>
                                <h1 style='font-size:32px;'>Bienvenido a la intranet
                                </h1>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr><td height='20'></td></tr>
                        <tr>
                          <td align='center'>
                            <div class='contentEditableContainer contentTextEditable'>
                             <div class='contentEditable'>
                              <p >Pronto<br>
                                Recibiras un correo de nuestra parte para corroborar la información con la que te registraste,
								nuestro departamento trabaja arduamente para revisar cada una de las solicitudes para que cumplan
								con las normas requeridas por la empresa. NO ES NECESARIO QUE ESTE CORREO LO CONTESTES( te lo agradeceriamos mucho que no lo hicieras).
								ATTE: Depto. De TI.
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width='50'></td>
                </tr>
                <tr><td colspan='3' height='45'></td></tr>
              </table>
              </td></tr></table>
        </div>
        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'><tr><td>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer">
                <tr><td height='10'>&nbsp;</td></tr>
                <tr><td style='border-bottom:1px solid #DDDDDD'></td></tr>
                <tr><td height='10'>&nbsp;</td></tr>
              </table>
              </td></tr></table>
        </div>
        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'><tr><td>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class="MainContainer">
                <tr><td colspan='5' height='30'></td></tr>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                      <tr>
                        <td width='166' valign='top' class="specbundle3">
                          <table width="166" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                            <tr>
                              <td align="center">
                                <div class='contentEditableContainer contentImageEditable'>
                                  <div class='contentEditable'>
                                    <img src="featured1.png" alt='featured image' data-default="placeholder" data-max-width="166" width='165' height='165' >
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='22'></td></tr>
                            <tr>
                              <td align='center'>
                                <div class='contentEditableContainer contentTextEditable'>
                                  <div class='contentEditable'>
                                    <h2>Primera caracteristica</h2>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='22'></td></tr>
                            <tr>
                              <td align='center'>
                                <div class='contentEditableContainer contentTextEditable'>
                                  <div class='contentEditable'>
                                    <p >Todo proceso interno de la empresa lo podrás hacer por aquí</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width='51' class="specbundle3"></td>
                        <td width='166' valign='top' class="specbundle3">
                          <table width="166" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                            <tr>
                              <td align="center">
                                <div class='contentEditableContainer contentImageEditable'>
                                  <div class='contentEditable'>
                                    <img src="featured2.png" alt='featured image' data-default="placeholder" data-max-width="166" width='165' height='165' >
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='22'></td></tr>
                            <tr>
                              <td align='center'>
                                <div class='contentEditableContainer contentTextEditable'>
                                  <div class='contentEditable'>
                                    <h2>Segunda caracteristica</h2>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='22'></td></tr>
                            <tr>
                              <td align='center'>
                                <div class='contentEditableContainer contentTextEditable'>
                                  <div class='contentEditable'>
                                    <p >Comenzaremos con usar menos papel ya que todo lo cambiamos a digital</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td width='51' class="specbundle3"></td>
                        <td width='166' valign='top' class="specbundle3">
                          <table width="166" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                            <tr>
                              <td align="center">
                                <div class='contentEditableContainer contentImageEditable'>
                                  <div class='contentEditable'>
                                    <img src="featured3.png" alt='featured image' data-default="placeholder" data-max-width="166" width='165' height='165' >
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='22'></td></tr>
                            <tr>
                              <td align='center'>
                                <div class='contentEditableContainer contentTextEditable'>
                                  <div class='contentEditable'>
                                    <h2>Tercera caracteristica</h2>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='22'></td></tr>
                            <tr>
                              <td align='center'>
                                <div class='contentEditableContainer contentTextEditable'>
                                  <div class='contentEditable'>
                                   <p >Los procesos que requiere el empleado se haran mas rápidos.</p>
                                 </div>
                               </div>
                             </td>
                           </tr>
                         </table>
                       </td>
                     </tr>
                   </table>
                 </td>

               </tr>
               <tr><td colspan='5' height='45'></td></tr>
             </table>
             </td></tr></table>
        </div>
        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                  <tr>
                    <td>
                      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class="MainContainer">
                        <tr>
                          <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>

                              <tr>
                                <td>
                                  <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer">
                                    <tr><td height='10'>&nbsp;</td></tr>
                                    <tr><td style='border-bottom:1px solid #DDDDDD'></td></tr>
                                    <tr><td height='10'>&nbsp;</td></tr>
                                  </table>
                                </td>
                              </tr>

                              <tr><td height='28'>&nbsp;</td></tr>

                              <tr>
                                <td valign='top' align='center'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style='font-weight:bold;font-size:13px;line-height: 30px;'>Contacto de TI, innovando</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>

                              <tr><td height='28'>&nbsp;</td></tr>

                              <tr>
                                <td valign='top' align='center'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style=' font-weight:bold;font-size:13px;line-height: 30px;'>Indar ferretería S.A. De C.V.</p>
                                    </div>
                                  </div>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style='color:#A8B0B6; font-size:13px;line-height: 15px;'>Carr. El verde San Martin de las Flores #480 Col. San Martin de las Flores, San Pedro Tlaquepaque, Jalisco México CP. 45620</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>

                              <tr><td height='28'>&nbsp;</td></tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
        </div>
    </td>
  </tr>
</table>
