<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:Helvetica, Arial,serif;'>

    <!-- =============================== Header ====================================== -->

  <tr>
    <td class='movableContentContainer' >
        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr><td height='25'  ></td></tr>

                        <tr>
                          <td height='290'  class='bgItem'>
                            <table align="center" width="600" border="0" cellspacing="0" cellpadding="0" class="MainContainer">
  <tr>
    <td height='50'></td>
  </tr>

  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

                          </td>
                        </tr>

                        <tr><td height='25' ></td></tr>
                </table>
        </div>
        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'><tr><td>
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class="MainContainer">
                  <tr><td colspan='3' height='25'></td></tr>
                  <tr>
                    <td width='50'></td>
                    <td width='500'>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr>
                          <td align='center'>
                            <div class='contentEditableContainer contentTextEditable'>
                              <div class='contentEditable'>
                                <h1 style='font-size:32px;'>En un momento, el departamento de TI atendera esta requisicion</h1>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr><td height='20'></td></tr>
                        <tr>
                          <td align='center'>
                            <div class='contentEditableContainer contentTextEditable'>
                             <div class='contentEditable'>
                              <p >
                                Tu requisicion ya la esta trabajando TI, solo es cuestion de espera, por lo pronto
                                puedes ver el estatus en la pestaña Estatus, ademas que se te notificara cuando se
                                haya terminado. NO es necesario que contestes este correo
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width='50'></td>
                </tr>
                <tr><td colspan='3' height='45'></td></tr>
              </table>
              </td></tr></table>
        </div>
        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'><tr><td>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer">
                <tr><td height='10'>&nbsp;</td></tr>
                <tr><td style='border-bottom:1px solid #DDDDDD'></td></tr>
                <tr><td height='10'>&nbsp;</td></tr>
              </table>
              </td></tr></table>
        </div>
        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                  <tr>
                    <td>
                      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class="MainContainer">
                        <tr>
                          <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>

                              <tr>
                                <td>
                                  <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer">
                                    <tr><td height='10'>&nbsp;</td></tr>
                                    <tr><td style='border-bottom:1px solid #DDDDDD'></td></tr>
                                    <tr><td height='10'>&nbsp;</td></tr>
                                  </table>
                                </td>
                              </tr>

                              <tr><td height='28'>&nbsp;</td></tr>

                              <tr>
                                <td valign='top' align='center'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style='font-weight:bold;font-size:13px;line-height: 30px;'>Contacto de TI, innovando</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>

                              <tr><td height='28'>&nbsp;</td></tr>

                              <tr>
                                <td valign='top' align='center'>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style=' font-weight:bold;font-size:13px;line-height: 30px;'>Indar ferretería S.A. De C.V.</p>
                                    </div>
                                  </div>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" >
                                      <p style='color:#A8B0B6; font-size:13px;line-height: 15px;'>Carr. El verde San Martin de las Flores #480 Col. San Martin de las Flores, San Pedro Tlaquepaque, Jalisco México CP. 45620</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>

                              <tr><td height='28'>&nbsp;</td></tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
        </div>
    </td>
  </tr>
</table>
